schema/notebook.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!-- Elément racine -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="repertoire">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="nom"/>
              <xsd:element ref="prenom"/>
              <xsd:element ref="age"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:element name="nom" type="xsd:string" />
  <xsd:element name="prenom" type="xsd:string" ></xsd:element>
  <xsd:element name="age" type="xsd:int" ></xsd:element>

</xsd:schema>
